<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="local" connectionString="Data Source=DB.sdf" providerName="System.Data.SqlServerCE.4.0" />
    <!--<add name="local" connectionString="Data Source=.\sqlexpress; Initial catalog=AbcPosLocal; Integrated security=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="http" maxBufferSize="655360000" maxReceivedMessageSize="655360000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53723/SyncService.svc/http"
        binding="basicHttpBinding" bindingConfiguration="http" contract="SyncService.ISyncService"
        name="http" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <nlog>
    <targets>
      <target name="fileDay" type="File" fileName="${specialfolder:folder=ApplicationData}/ABCPos/log_${date:format=yyyy-MM-dd}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="fileDay" />
    </rules>
  </nlog>

</configuration>