<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="http" maxReceivedMessageSize="6553600" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53754/Services/BackendService.svc/http"
                binding="basicHttpBinding" bindingConfiguration="http" contract="Services.BackendService.BackendService"
                name="http" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
